/*This is for all body*/


.top-container {
	background-color: #EAF6F6;
	position: relative;
	padding-top: 100px;
}


body {
	margin: 0;
	background-image: url(Images/background2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	text-align: center;
	opacity: ;
	height: 500px;
	text-align: center;
	font-family: 'Merriweather', serif;
	font-size: 150%;
	color: #40514E;
}

h1 {
	margin-top: 50px auto 0 auto;
	font-family: cursive;
	font-size: 4.80rem;
	color: #66BFBF;
}

h2 {
	margin: 0px;
	font-family: cursive;
	font-size: 2.5rem;
	color: #66bfbf;
	font-weight: normal;
	padding-bottom: 10px;
}

h3 {
	font-family: cursive;
	color: #11999E;
}



p {
	font-family: cursive;
	line-height: 2;
}


.middle-container {
	margin: 50px 0px;

}

.skill-row {
	width: 50%;
	margin: 50px auto 50px auto;

}


#.bottom-container {
	background-color: red;
	height: 200px;
	width: 200px;
	margin-left: 350px;
}

.bottom-cloud {
	position: absolute;
	left: 300px;
	bottom: 300px;

}

.top-cloud {
	position: absolute;
	right: 300px;
	top: 50px;
}

.vish {
	width: 25%;
	border-radius: 50%;
}

.comp {
	width: 25%;
	border-radius: 50%;
}

.prod {
	width: 25%;
	border-radius: 50%;
}


hr {
	border-color: grey;
	border-style: dotted none none;
	border-top-style: dotted;
	border-width: 5px;
	width: 10%;
	margin: 100px auto;
}


.btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #b834d9);
	background-image: -moz-linear-gradient(top, #3cb0fd, #b834d9);
	background-image: -ms-linear-gradient(top, #3cb0fd, #b834d9);
	background-image: -o-linear-gradient(top, #3cb0fd, #b834d9);
	background-image: linear-gradient(to bottom, #3cb0fd, #b834d9);
	text-decoration: none;
}



.bottom-container {
	background-color: #66bfbf;
	padding: 50px 0 20px;
}
.footer-link{color:#1999e;
margin:10px 20px;
font-family: cursive;
text-decoration: none;
}
.footer-link:hover{
	color: #eaf6f6;
}


.lead {
	font-family: 'Courgette', cursive;
	font-style: italic;
	font-size: 2rem;
	margin-bottom: 0;
	color: white;
padding:10px;
}

.cover-heading {
	margin: 100px;
	font-weight: bold;
	color:red;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 0;
	font-size: 5rem;
}
